body {
    font-family: "D-DIN", sans-serif;
    font-weight: normal;    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1, h2 {
    font-family: "D-DIN Condensed", sans-serif;
    font-weight: bold;
}

nav, button {
    font-family: "D-DIN", sans-serif;
    font-weight: bold;
}


.logo {  /*.logo defines a class which can lter be called for formatting*/
    width: auto;
    max-width: 100%;
    height: auto;
}